#review-card {
  height: 10vh;
  width: 10%;
  background-color: rgb(253, 231, 204);
  border: 2px solid #c2abaf;
  border-radius: 25px;
  margin-top: 5%;
  transition: 0.5s ease;
}

#review-card:hover {
  width: 25%;
  height: 25vh;

  transition: 0.5s ease;
}
