#logo-container {
  margin-top: 10vh;
  height: 100px;
  background-color: rgb(248, 235, 212);
  border: 2px solid #c2abaf;
  display: flex;
  justify-content: space-evenly;
}

.icons:hover {
  color: #c2abaf;
}

.icon-btn {
  border: 0px;
  background-color: rgb(248, 235, 212);
}
