#login-page {
  background-color: #f4ebdb;
  height: 100vh;
  width: 100vw;
}

#logo-login-container {
  display: flex;
  justify-content: center;
  background-color: rgb(253, 231, 204);
  border: 2px solid #c2abaf;
  height: 80px;
}

#logo-login {
  width: 250px;
}

.login-btn {
  background-color: #c2abaf;
  border: 2px solid rgb(253, 231, 204);
  border-radius: 5px;
  color:#fde7cc;
  padding: 10px;
  font-size: 14pt;
}

.login-btn:hover {
  transform: translateY(-5px);
}

.login-btn:active {
  transform: translateY(0px);
}

.segment {
  background-color: rgb(253, 231, 204);
  border: 2px solid #c2abaf;
  width: 20vw;
  text-align: center;
}

.segment-container {
  display: flex;
  justify-content: center;
}

.login-separate {
  height: 28vh;
}

.sub-header {
  font-size: 16pt;
  padding-top: 20px;
}

.segment-footer {
  border-top: 2px solid #c2abaf;
  padding-top: 10px;
}

@media only screen and (max-width: 600px) {
  .segment {
    width: 80vw;
  }
}